## SQL Code Challenge 1
I'm thinking two parts
- **Part I: Basic SQL query stuff**

> - Create and append information to tables with CREATE, INSERT and UPDATE.
> - Select data with SELECT, DISTINCT, WHERE and ORDER BY clauses.
> - Combined information from separate tables using JOIN.
> - Remove Rows and Tables using DELETE and REMOVE.

_(REMOVE is not a SQL Cluase, lets see who is on their feet._

- **Part II: Python SQL integration**
> - Convert CSV data to a SQL table. SQLite, SQLite3, Pandas.io SQL, sqlalchemy
> - Perform standard SQL Commands from a Python window (See Part I)

In [ ]:
# I need a data concept

# Ladies and Gentlemen! Welcome to your first SQL Challenge.
#### Below you will find 7 SQL related deliverables.  We ask that you complete all of them to the best of your ability using only pencil and paper.  You will have 30 minutes to do so.  May the odds be ever in your favor.  




### Part I: Straight SQL

The Below information with be referenced for the first 6 questions. All lists have the same respective order.

- **Names**: 'Cheerios', 'Lucky Charms', 'Froot Loops', 'Frosted Flakes','Trix', 'Cap'n Crunch'
- **Mascot**: 'Bee', 'Leprachuan', 'Twocan', 'Tiger', 'Rabbit', 'Midget'
- **Shape**: 'Loop','assorted','Loop','Flakes','Ball','Squares'
- **Sugar(g)**: '9','10','12','11','10','12'
- **Total Carbs(g)**:'22','22','26','27','27','23'
- **Company**: 'GENERAL MILLS','GENERAL MILLS','KELLOGG','KELLOGG','GENERAL MILLS','QUAKER'

_For the below questions assume you are already in SQL GUI_



1.) Please create a SQL table called 'Cereal' of the above information.

_For sake of time you can replace values in a query with 'X'
example:_ 
```bash 
add 'Cheerios','Bee','Loop','9','22','GENERAL MILLS'  
```
_can be written like..._
```bash
add 'Cheerios','X','X','X','X','X' 
```

```SQL
CREATE TABLE Cereal ('Names' VARCHAR, 'Mascot' VARCHAR, 'Shape' VARCHAR, 
'Sugar(g)' INT, 'Total Carbs(g)' INT, 'Company' VARCHAR);
```

```SQL
insert into Cereal (Names, Mascot, Shape, Sugar(g), Total Carbs(g), Company) values ('Cheerios','X','X',X ,X ,'X',),
  ('Lucky Charms','X','X',X ,X ,'X'),
  ('Froot Loops','X','X',X ,X ,'X'),
  ('Frosted Flakes','X','X',X ,X ,'X'),
  ('Trix','X','X',X ,X ,'X'),
  ("Cap'n Crunch",'X','X',X ,X ,'X');
```

Fourth and Fifth entries use X as opposed to a string version because... Its and INT

(Maybe its because im sick but all the 'X's don't look uniform, like they're dancing around)

2.) It seems there are more than 6 cereals in existence.  Add the following ceral information to the table.

- **Name**: 'Count Chocula','Rice Crispies'
- **Mascot**: 'Vampire','3 Midgets'
- **Shape**: 'Ghosts','Rice'
- **Sugar(g)**: '9','3'
- **Total Carbs(g)**:'23','28'
- **Company**: 'GENERAL MILLS','KELLOGG'

```SQL
INSERT INTO Cereal VALUES ('Count Chocula','Vampire','Ghosts', 9, 23,'GENERAL MILLS');
       
INSERT INTO Cereal VALUES ('Rice Crispies','3 Midgets','Rice', 3, 28,'KELLOGG');
```

3.) Run a query that will return a Cereal's Name and all its numeric features.

```sql
SELECT Name, Sugar(g), Total Carbs(g) FROM Cereal
```

4.) It appears that some of our descriptions are not PC.  Update all of the entries that the Mascot is a 'Midget' to something more PC like 'Elf' or 'Dwarf'. I Don't care which way, just get it done.

```SQL
UPDATE Cereal SET Mascot = elf WHERE Mascot LIKE %Midget%
```

We are using the double modulo to indicate we are looking for 'Midget' in anywhere in the Mascot column and not exclusively 'midget'

5.) Run a Query to get all the Names and Mascots of entries who are made by General Mills.

```SQL
SELECT Name, Mascot FROM Cereal WHERE Company = 'GENERAL MILLS';
```

6.) Nobody cares about Quaker Cereal anymore, remove all their entries from the table.

```SQL
DELETE * FROM Cereal WHERE Company = 'Quaker'
```

7.)I know our database structure is top notch, but as a company that is always looking forward do you have any recommendations to make as to how we can imporve our database structure?

- Creating a relation table system
- Having consistency of character values, i.e. all uppercase or lowercase.
- Adding additional features to improve data quality.